<h2>Recommended Jobs for you (based on your application history):</h2>

<%= link_to 'View recommendations by area', recommendations_path %><br>

<%= render 'jobs_table' %><br>


<br>
<%= link_to 'Back to home', jobseeker_home_path %><br>